.section {
	grid-area: kira;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
	display: flex;
	align-items: center;
	gap: 20px;
}

.photo {
	border: 3px solid white;
	border-radius: 50%;
}

.name {
	display: flex;
	flex-direction: column;
	color: var(--color-gray);
}

.body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 32px;
	color: var(--color-gray);
}

.content {
	line-height: 1.5;
	color: var(--color-gray);
}

.content::before {
	content: '"';
}

.content::after {
	content: '"';
}
