.section {
	grid-area: patrick;
	background-color: var(--color-navy);
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
	display: flex;
	align-items: center;
	gap: 20px;
}

.photo {
	border: 3px solid var(--color-accent);
	border-radius: 50%;
}

.name {
	color: white;
}

.body {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 32px;
}

.content {
	line-height: 1.5;
}

.content::before {
	content: '"';
}

.content::after {
	content: '"';
}
