:root {
	--color-background: rgb(243, 243, 243);
	--color-accent: rgb(104, 55, 193);
	--color-gray: rgb(64, 75, 96);
	--color-navy: rgb(24, 29, 40);
	--color-border: rgb(157, 105, 240);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

@media (max-width: 1000px) {
	body {
		height: auto;
		padding: 80px 0;
	}
}
