:root {
	--color-background: rgb(243, 243, 243);
	--color-accent: rgb(104, 55, 193);
	--color-gray: rgb(64, 75, 96);
	--color-navy: rgb(24, 29, 40);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
