.main {
	display: grid;
	grid-template-areas:
		"daniel daniel jonathan kira"
		"jeanette patrick patrick kira";
	gap: 30px;
}

@media (max-width: 1000px) {
	.main {
		grid-template-areas:
			"daniel"
			"jonathan"
			"jeanette"
			"patrick"
			"kira";
		width: 80%;
		height: auto;
	}
}
